@import '@styles/colors';

.button {
  background-color: var(--yellow);
  color: var(--black);
  border: none;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 24px;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background-color: #e6b800;
  }
}
