@import '@styles/colors';

:root {
  --primary-color: var(--yellow);
  --background-color: var(--black);
  --text-color: var(--white);
  --border-radius: 8px;
}

body {
  background-color: var(--black);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 150px;
  padding: 16px;
  text-align: center;
  border-radius: var(--border-radius);
}

h2 {
  font-size: 18px;
  margin-bottom: 12px;
  color: var(--yellow);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}